.jumbotron {

    background-color: rgb(4, 143, 73);
    height: 95px;
    padding-top: 3px;
    padding-bottom: 8px;
    margin-top: 20px;
}

body {

    background-image: url("../images/light_grey_@2X.jpg");
}

#topicBtns {

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right:10px;
}

#topicInput {

    margin-left: 3px;
    margin-right: 3px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 48px;
    font-stretch: ultra-expanded;
    margin-left: 10px;
    
}

label {

    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;


}
/* #topic {
    float: left;
} */
