.jumbotron {

    background-color: #654321;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 6px;
    margin-top: 20px;
    border: solid 2px;
    border-color: white;
}

body {

    background-image: url("../images/field.jpg");
}

#topicBtns {

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right:10px;
}



.team {
    background-color: #654321;
    border: solid 2px;
    border-color: white;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
}

#addTeam {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight:  bolder;
    color: white;
}

#topicInput {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

#addTopic {
    margin-left:10px;
    color: black;
    background-color:  #654321;
    color: white;
    font-weight: bold;
    border: solid 2px;
    border-color: white;
}

#topicPics {

    align: center;
   
}

.picBtn {

    margin: 20px;
    border: solid 10px;
    border-color: black;
    
}

.picRating {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    background-color:white;
    margin-top: 20px;
    

}

    

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 48px;
    font-stretch: ultra-expanded;
    
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

@media only screen and (max-width: 640px) {


h2 {
      font-size: 34px;
    }

  }
